<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <link rel="stylesheet" href="../css/details.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <script src="../js/materialize.min.js"></script>
    <title>Document</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
        width: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue lighten-2">
        <a href="#" class="brand-logo" id="logo">AIRPORT</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="../views/dashboard.html" id="dashboardLink">Dashboard</a>
          </li>
          <li><a href="../views/login.html" id="loginLink">Login</a></li>
          <li>
            <a href="../views/register.html" id="registerLink">Register</a>
          </li>
          <li><a href="../views/dashboard.html" id="logoutLink">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div id="dataContainer"></div>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 8
        });
      }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkBzYywoeYNiy1OK0Swu0nC6551zmZaeQ&callback=initMap"
      async
      defer
    ></script>
    <script src="../js/moment.js"></script>
    <script src="../js/details.js"></script>
    <script src="../js/logout.js"></script>
  </body>
</html>
