<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    llegaste a details
    <div id="dataContainer"></div>
    <iframe
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC1khr8Pt4m_VChIaLXIhrDcOL4f7-P4xU
    &q=Space+Needle,Seattle+WA"
      allowfullscreen
    >
    </iframe>
    <script src="../js/moment.js"></script>
    <script src="../js/details.js"></script>
  </body>
</html>
